# Raw datasets
data/raw/

# Processed datasets
data/processed/

# Python cache
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Local development
.venv/
venv/
backups/
.DS_Store
Thumbs.db
